{% extends '::index.html.twig' %}

{% block title %}Mesa{% endblock %}

{% block content %}
    {% if mesa %}

            {% for m in mesa %}
                <p>Su cuenta actual es de : {{ m.cuenta }} </p>


                <a href="" class="btn btn-info">Pagar </a>
                <a href="" class="btn btn-info">Seguir pidiendo </a>
            {% endfor %}
    {% else %}
        <h2>No hay pedidos para mostrar</h2>
    {% endif %}

{% endblock %}