{% extends '::index.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block content %}
    <h1 class="well">Crear un producto </h1>

    {{ form(formulario) }}



    <a href="{{ path('inicio') }}" class="btn btn-info">Volver</a>
{% endblock %}