<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href='{{ asset('bundles/app/css/bootstrap.min.css') }}' rel='stylesheet' type='text/css'>

        <style>
            body {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .container{
                max-width: 80%;
            }
            #principal{
                min-height: 400px;
                padding: 20px;
            }
            label{
                padding-right: 20px;
            }
            a, button, label{
              margin-bottom: 10px !important;
            }
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                /* Set the fixed height of the footer here */
                height: 40px;
                background-color: #f5f5f5;
                padding: 10px;
            }

            {% block stylesheets %}{% endblock %}
        </style>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
