{% extends 'base.html.twig' %}
{% block title %}Inicio{% endblock %}


{% block body %}

   <div class="container">
      <div class="header clearfix">
         <nav>
            <ul class="nav nav-pills pull-right">
               <li role="presentation" class="active"><a href="{{ path('inicio') }}">Inicio</a></li>
               <li role="presentation"><a href="#">About</a></li>
               <li role="presentation"><a href="#">Contact</a></li>
            </ul>
         </nav>
         <h3 class="text-muted">FOrder</h3>
      </div>

      <div class="jumbotron" id="principal">


         {% block content %}

         {% endblock %}
      </div>







   </div>
   <!-- /container -->
   <footer class="footer">
      <div class="container">
         <p class="text-muted">&copy; 2015, FOrder. Develop by Pedro Quesada</p>
      </div>
   </footer>
{% endblock %}
