{% extends '::index.html.twig' %}
{% block title %} Gesti贸n de la aplicaci贸n {% endblock %}
 {% block stylesheets %}
     #a{
         margin-top: 60px !important;
     }
    a{
     margin-bottom: 30px !important;
     }
 {% endblock %}
 {% block content %}

     <div class="col-lg-12" id="a">
         <a href="{{ path('mesa_listar') }}" class="btn btn-primary btn-lg btn-block">
             Ver mesas
         </a>

     </div>
         <div class="col-lg-12" id="a">
                <a href="{{ path('usuarios_listar') }}" class="btn btn-primary btn-lg btn-block">
                   Gesti贸n de Usuarios
                </a>

         </div>
         <div class="col-lg-12">
                <a href="{{ path('inicio') }}" class="btn btn-primary btn-lg btn-block">
                    Gesti贸n de Productos
                </a>
         </div>

     <div class="col-lg-12">
         <a href="{{ path('listar_carta') }}" class="btn btn-primary btn-lg btn-block">
             Cambiar la carta
         </a>
     </div>

 {% endblock %}