{% extends '::index.html.twig' %}
{% block title %}Cuenta{% endblock %}
 {% block content %}

  <h2 class="well">Cuenta</h2>
  {% if producto %}
   <table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
    <tr>
     <th>Nombre</th>
     <th>Precio</th>
     <th></th>
    </tr>
    </thead>
    <tbody>
    {% for p in producto %}
     <tr>
      <td>{{ p.nombreProducto }}</td>
      <td>{{ p.precio }}</td>
     </tr>
    {% endfor %}
    </tbody>
   </table>
  {% else %}
   <h2>No hay productos para mostrar</h2>
  {% endif %}

  <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
   Confirmar
  </a>
  <a href="{{ path('inicio') }}" class="btn btn-success btn-lg">
   Volver
  </a>
 {% endblock %}
