<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bienvenido</title>
   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

   <style>
      body {
         background-image: url(http://kreativo.se/backlogin.jpg);
         font-family: "Helvetica Neue", Helvetica, Arial;
         padding-top: 60px;
      }

      .container {
         width: 406px;
         max-width: 406px;
         margin: 0 auto;
      }

      #signup {
         padding: 0px 25px 25px;
         background: #fff;
         box-shadow:
         0px 0px 0px 5px rgba( 255,255,255,0.4 ),
         0px 4px 20px rgba( 0,0,0,0.33 );
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border-radius: 5px;
         display: table;
         position: static;
      }

      #signup .header {
         margin-bottom: 20px;
      }

      #signup .header h3 {
         color: #333333;
         font-size: 24px;
         font-weight: bold;
         margin-bottom: 5px;
      }

      #signup .header p {
         color: #8f8f8f;
         font-size: 14px;
         font-weight: 300;
      }

      #signup .sep {
         height: 1px;
         background: #e8e8e8;
         width: 406px;
         margin: 0px -25px;
      }

      #signup .inputs {
         margin-top: 25px;
      }

      #signup .inputs label {
         color: #8f8f8f;
         font-size: 12px;
         font-weight: 300;
         letter-spacing: 1px;
         margin-bottom: 7px;
         display: block;
      }

      input::-webkit-input-placeholder {
         color:    #b5b5b5;
      }

      input:-moz-placeholder {
         color:    #b5b5b5;
      }

      #signup .inputs input[type=text], input[type=password] {
         background: #f5f5f5;
         -moz-border-radius: 3px;
         -webkit-border-radius: 3px;
         border-radius: 3px;
         border: none;
         padding: 13px 10px;
         margin-bottom: 20px;
         box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
         clear: both;
      }

      #signup .inputs input[type=email]:focus, input[type=password]:focus {
         background: #fff;
         box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
         outline: none;
      }

   </style>
   </head>
<!-- BEGIN BODY -->
<body class="page-md login">

<!-- BEGIN LOGIN -->
<div class="container">
   <!-- BEGIN LOGIN FORM -->
   <form class="form-signin" id="signup" method="post"  action="{{ path('usuario_comprobar') }}">
      <div class="header">
      <h3 class="form-title">Bienvenido</h3>
      {% for flashMessage in app.session.flashbag.get('notice') %}
         <div class="alert alert-danger">
            <span> {{ flashMessage }}</span>
         </div>
      {% endfor %}
      </div>
      <div class="sep"></div>

      <div  class="inputs">

         <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Nombre de usuario" name="_username" autofocus/>

         <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Contraseña" name="_password" />
      </div>
      <div class="form-actions">
         <button type="submit" class="btn btn-block active btn-success uppercase">Entrar</button>
      </div>

      <div class="create-account">
         <p>
            <a href="{{ path('nueva_cuenta') }}">Registrarse</a>
         </p>
      </div>
      <div class="copyright">
         2015, FOrder. Develop by Pedro Quesada.
      </div>
   </form>
   <!-- END LOGIN FORM -->

</div>

</body>
</html>


