{% extends '::index.html.twig' %}

{% block title %}listar usuarios{% endblock %}

{% block content %}
    {% if usuarios %}
        <ol>
            {% for user in usuarios %}
                <li>{{ user }}</li>
                <li><a href="">{{ user }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <h2>No hay usuarios para mostrar</h2>
    {% endif %}
{% endblock %}