{% extends '::index.html.twig' %}

{% block title %}Nuevo usuario{% endblock %}

{% block content %}
    <h1 class="well">Nuevo usuario</h1>

    {{ form(formulario) }}

    <a href="{{ path('usuarios_listar') }}" class="btn btn-info">Volver al listado de usuarios</a>
{% endblock %}