{% extends '::index.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1 class="well">receta</h1>

    {{ form(formulario) }}

    <a href="{{ path('almacen_listar') }}" class="btn btn-info">Volver al listado de almacen</a>
{% endblock %}