{% extends '::index.html.twig' %}

{% block title %}Modificar{% endblock %}

{% block content %}
    <h1 class="well">Modificar </h1>

    {{ form(formulario) }}

    <a href="{{ path('listar_carta') }}" class="btn btn-info">Volver</a>
{% endblock %}