{% extends '::index.html.twig' %}

{% block title %}Nueva categoria{% endblock %}

{% block content %}
    <h1 class="well">Nueva categoria del menu </h1>


    <!-- listar las categorias -->
    {{ form(formulario) }}



    <a href="{{ path('listar_carta') }}" class="btn btn-info">Volver</a>
{% endblock %}